[Unit]
Description=CompuLab BLueThooth Start Script
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/bt-start start

[Install]
WantedBy=multi-user.target
